<h1>Track that Band!</h1>

<hr>

<h4>These are the bands currently trackable:</h4>

<hr>

<p>Click on a band name to edit that band.</p>

<ul>
  <% if @bands.any? %>
    <% @bands.each do |band| %>
      <li>
        <a href="/bands/<%= band.id %>"><%= band.band_name() %></a>
      </li>
    <% end %>
  <% else %>
  <p>No bands are currently trackable.</p>
  <% end %>
</ul>

<hr>

<h4>Add a band to track:</h4>

<form action="/" method="post" class="form-entry">
  <label for="band_name"></label>
  <input id="band_name" name="band_name" class="form-line" type="text" placeholder="ex: Bonzo Dog Doo-Dah Band">

  <button type="submit">Submit</button>
</form>
